// Include Variables, GLobal Rules, Mixins and Main Classes
@use "../helpers/classes" as *;
@use "../helpers/global_rules" as *;
@use "../helpers/mixins" as *;
@use "../helpers/var" as *;


body {
    width: 100%;
    height: 100vh;
}

// Start Header
header {
    height: 100px;
    margin-bottom: 30px;
    @include flex_between;
    .logo {
        img {
            width: 40px;
            margin-right: 10px;
        }
        span {
            font-size: 35px;
            font-weight: 700;
        }
    }
    .search_bar {
        width: 50%;
        padding: 10px 15px;
        border-radius: var(--border-radius-search);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .bar_input {
            @include flex_between;
            input, button {
                padding: 10px;
                border-radius: var(--border-radius-search);
            }
            input {
                width: 70%;
                font-size: 16px;
            }
            button {
                width: 25%;
            }
        }
    }
    .info {
        @include flex_between;
        button.current_location_btn {
            padding: 15px;
            border-radius: var(--border-radius);
            margin-right: 10px;
            i {margin-right: 5px;}
        }
        button.mode_dark_light {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            i {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 992px) {
        flex-direction: column;
        padding: 20px;
        height: 100%;
        .search_bar {
            margin: 30px 0;
            width: 100%;
        }
        
    }
}
// End Header


// Start Section
section.weather_info {
    width: 100%;
    @include flex_between;
    aside {
        width: 30%;
        height: 100%;
        padding: 10px;
        .now {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            border-radius: var(--border-radius-card);
            padding: 20px;
            margin-bottom: 20px;
            .info {
                > p {
                    font-size: 30px;
                }
                p {
                    span {
                        font-size: 60px;
                    }
                    img {

                    }
                }
            }
            .date {
                .today_value_date {
                    margin-bottom: 10px;
                }
                i {margin-right: 10px;}
                span {
                    color: var(--grey-color);
                }
            }
        }
        .favorite {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            border-radius: var(--border-radius-card);
            padding: 20px;
        }
    }
    .day_weather_info {
        width: 70%;
        border-radius: var(--border-radius-card);
        .todays {
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            border-radius: var(--border-radius-card);
            margin-bottom: 20px;
            padding: 20px;
            > p {
                font-size: 30px;
                margin-bottom: 10px;
            }
            .content {
                display: grid;
                grid-template-columns: repeat(2, auto);
                padding: 10px;
                gap: 15px;
                .air_quality {
                    box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 15px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 30px;
                    }
                    .info {
                        text-align: center;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        .wind {
                            font-size: 40px;
                        }
                        > p {
                            color: var(--grey-color);
                            margin-bottom: 10px;
                            font-size: 14px;
                            > span {
                                font-size: 24px;
                            }
                        }
                    }
                }
                .sunrise_sunset {
                    box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 30px;
                    }
                    .content {
                        @include flex_between;
                        .sunrise, .sunset {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color); margin-bottom: 5px;}
                                span {font-size: 30px;}
                            }
                        }
                        .sunrise {
                        }
                        .sunset {
                        }
                    }
                }
                .humidity_pressure {
                    box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 30px;
                    }
                    .content {
                        @include flex_between;
                        .humidity, .pressure {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            // img {margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color);  margin-bottom: 5px;}
                                span {font-size: 30px;}
                            }
                        }
                        .humidity {
                        }
                        .pressure {
                        }
                    }
                }
                .visibility_feels_like {
                    box-shadow: rgba(0, 0, 0, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 30px;
                    }
                    .content {
                        @include flex_between;
                        .visibility, .feels_like {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color);  margin-bottom: 5px;}
                                span {font-size: 30px;}
                            }
                        }
                        .visibility {
                        }
                        .feels_like {
                        }
                    }
                }
            }
        }

        .today_at {
            background-color: orange;
        }
    }
    @media (max-width: 992px) {
        height: 100%;
        flex-direction: column;
        aside {
            width: 100%;
        }
        .day_weather_info {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        .content {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        .day_weather_info .todays {
            grid-template-columns: repeat(1, 1fr);
        }

    }
}



// End Section






