.white_color {
  color: white !important;
}

.dark_color {
  color: black !important;
}

.dark_bgColor {
  background-color: #444;
}

.white_bgColor {
  background-color: white;
}

.container {
  margin: 0 100px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 30px;
  }
}
.header_btn {
  background-color: #7575ff !important;
  transition: var(--transition);
  color: white;
  font-size: 15px;
  font-weight: normal;
}

.header_btn:hover {
  background-color: rgba(117, 117, 255, 0.7098039216) !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
}

button, input:focus, input {
  outline: 0;
  border: none;
}

button {
  cursor: pointer;
}

:root {
  --border-radius: 5px;
  --transition: 0.3s;
  --border-radius-search: 30px;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
  margin-right: 10px;
}
header .logo span {
  font-size: 35px;
  font-weight: 700;
}
header .search_bar {
  width: 50%;
  padding: 10px 15px;
  border-radius: var(--border-radius-search);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .search_bar .bar_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search_bar .bar_input input, header .search_bar .bar_input button {
  padding: 10px;
  border-radius: var(--border-radius-search);
}
header .search_bar .bar_input input {
  width: 70%;
  font-size: 16px;
}
header .search_bar .bar_input button {
  width: 25%;
}
header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .info button.current_location_btn {
  padding: 15px;
  border-radius: var(--border-radius);
  margin-right: 10px;
}
header .info button.current_location_btn i {
  margin-right: 5px;
}
header .info button.mode_dark_light {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
header .info button.mode_dark_light i {
  font-size: 16px;
}
@media (max-width: 992px) {
  header {
    flex-direction: column;
    padding: 20px;
    height: 100%;
  }
  header .search_bar {
    margin: 30px 0;
    width: 100%;
  }
}

section.weather_info {
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info aside {
  background-color: yellowgreen;
  width: 30%;
  height: 100%;
  padding: 10px;
}
section.weather_info aside > div {
  width: 100%;
  height: 50%;
}
section.weather_info aside .now {
  background-color: red;
}
section.weather_info aside .favorite {
  background-color: green;
}
section.weather_info .day_weather_info {
  padding: 10px;
  width: 70%;
  height: 100%;
  padding: 10px;
}
section.weather_info .day_weather_info > div {
  width: 100%;
  height: 50%;
}
section.weather_info .day_weather_info .todays {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: yellow;
  gap: 10px;
}
section.weather_info .day_weather_info .todays .air_quality {
  background-color: antiquewhite;
}
section.weather_info .day_weather_info .todays .sunrise_sunset {
  background-color: aqua;
}
section.weather_info .day_weather_info .todays .humidity_pressure {
  background-color: aquamarine;
}
section.weather_info .day_weather_info .todays .visibility_feels_like {
  background-color: #473e30;
}
section.weather_info .day_weather_info .today_at {
  background-color: orange;
}/*# sourceMappingURL=main.css.map */