// Include Variables, GLobal Rules, Mixins and Main Classes
@use "../helpers/classes" as *;
@use "../helpers/global_rules" as *;
@use "../helpers/mixins" as *;
@use "../helpers/var" as *;




body {
    width: 100%;
    height: 100vh;
}

// Start Header
header {
    height: 100px;
    // background-color: red;
    @include flex_between;
    .logo {
        img {
            width: 40px;
            margin-right: 10px;
        }
        span {
            font-size: 35px;
            font-weight: 700;
        }
    }
    .search_bar {
        width: 50%;
        padding: 10px 15px;
        border-radius: var(--border-radius-search);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .bar_input {
            @include flex_between;
            input, button {
                padding: 10px;
                border-radius: var(--border-radius-search);
            }
            input {
                width: 75%;
                font-size: 16px;
            }
            button {
                width: 20%;
            }
        }
    }
    .info {
        @include flex_between;
        button.current_location_btn {
            padding: 15px;
            border-radius: var(--border-radius);
            margin-right: 10px;
            i {margin-right: 5px;}
        }
        button.mode_dark_light {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            i {
                font-size: 16px;
            }
        }
    }
}

// End Header






