// Include Variables, GLobal Rules, Mixins and Main Classes
@use "../helpers/classes" as *;
@use "../helpers/global_rules" as *;
@use "../helpers/mixins" as *;
@use "../helpers/var" as *;


body {
    width: 100%;
    height: 100vh;
}

// Start Header
header {
    height: 100%;
    margin: 30px 0;
    margin-bottom: 30px;
    @include flex_between;
    .logo {
        img {
            width: 40px;
            margin-right: 10px;
        }
        span {
            font-size: 35px;
            font-weight: 700;
        }
    }
    .search_bar {
        width: 50%;
        padding: 10px 15px;
        border-radius: var(--border-radius-search);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
        background-color: white;
        .bar_input {
            @include flex_between;
            // margin-bottom: 10px;
            input, button {
                padding: 10px;
                border-radius: var(--border-radius-search);
            }
            input {
                background-color: white;
                width: 70%;
                font-size: 16px;
            }
            button {
                width: 25%;
            }
        }
    }
    .info {
        @include flex_between;
        button.current_location_btn {
            padding: 15px;
            border-radius: var(--border-radius);
            margin-right: 10px;
            i {margin-right: 5px;}
        }
        button.mode_dark_light {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            i {
                font-size: 16px;
            }
        }
    }
    @media (max-width: 992px) {
        flex-direction: column;
        padding: 20px;
        height: 100%;
        .search_bar {
            margin: 30px 0;
            width: 100%;
        }
        
    }
}
.cities_list {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 30px 0;
    border-radius: var(--border-radius-card);
    padding: 10px;
    p {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 10px;
        border-radius: var(--border-radius);
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        i {margin-right: 10px;}
    }
}
// End Header

// Start Section
section.weather_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    aside {
        width: 30%;
        height: 100%;
        padding: 0 10px;
        .now {
            box-shadow: #5b5b5b 0px 0px 1px;
            border-radius: var(--border-radius-card);
            padding: 20px;
            margin-bottom: 20px;
            .info {
                div.header_info {
                    margin-bottom: 20px;
                    p.title_now {font-size: 30px}
                    @include flex_between;
                    .add_btn_favorite {
                        cursor: pointer;
                        background-color: #3eae3e;
                        padding: 10px; border-radius: var(--border-radius);
                        transition: var(--transition);
                        i {font-size: 20px; color: white;}
                        &:hover {background-color: green;}
                    }
                }
                p {
                    span {
                        font-size: 60px;
                    }
                }
            }
            .date {
                .today_value_date {
                    margin-bottom: 10px;
                }
                i {margin-right: 10px;}
                span {
                    color: var(--grey-color);
                }
            }
        }
        .favorites {
            box-shadow: #5b5b5b 0px 0px 1px;
            border-radius: var(--border-radius-card);
            padding: 20px;
            h3 { margin-bottom: 20px; } 
            .favorite {
                @include flex_between;
                border-radius: var(--border-radius);
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                padding: 10px;
                > p {font-size: 20px;}
                p.location_value_fav span {color: var(--grey-color); font-size: 15px;}
                &:not(:last-child) {margin-bottom: 20px;}
                .trach_fav {
                    cursor: pointer;
                    transition: var(--transition);
                    &:hover {
                        i {color: var(--danger);}
                    }
                    i {color: red;}
                }
            }
        }
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
    }
    .day_weather_info {
        width: 70%;
        border-radius: var(--border-radius-card);
        .todays {
            box-shadow: #5b5b5b 0px 0px 1px;
            border-radius: var(--border-radius-card);
            margin-bottom: 20px;
            padding: 20px;
            > p {
                font-size: 25px;
                margin-bottom: 10px;
            }
            .content {
                display: grid;
                grid-template-columns: repeat(2, auto);
                padding: 10px;
                gap: 15px;
                .air_quality {
                    box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 15px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 20px;
                    }
                    .info {
                        text-align: center;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        .wind {
                            font-size: 40px;
                        }
                        > p {
                            color: var(--grey-color);
                            margin-bottom: 10px;
                            font-size: 14px;
                            > span {
                                font-size: 24px;
                            }
                        }
                    }
                }
                .sunrise_sunset {
                    box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 20px;
                    }
                    .content {
                        @include flex_between;
                        .sunrise, .sunset {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color); margin-bottom: 5px;}
                                span {font-size: 25px;}
                            }
                        }
                        .sunrise {
                        }
                        .sunset {
                        }
                    }
                }
                .humidity_pressure {
                    box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 20px;
                    }
                    .content {
                        @include flex_between;
                        .humidity, .pressure {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            // img {margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color);  margin-bottom: 5px;}
                                span {font-size: 25px;}
                            }
                        }
                        .humidity {
                        }
                        .pressure {
                        }
                    }
                }
                .visibility_feels_like {
                    box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
                    border-radius: var(--border-radius);
                    padding: 10px;
                    > p {
                        color: var(--grey-color);
                        margin-bottom: 20px;
                    }
                    .content {
                        @include flex_between;
                        .visibility, .feels_like {
                            @include flex_between;
                            i {font-size: 40px; margin-right: 20px;}
                            .info {
                                p {color: var(--grey-color);  margin-bottom: 5px;}
                                span {font-size: 25px;}
                            }
                        }
                        .visibility {
                        }
                        .feels_like {
                        }
                    }
                }
                @media (max-width: 992px) {
                    .air_quality .info > p span {font-size: 20px !important;}
                    .sunrise_sunset .content > div i,  
                    .humidity_pressure .content > div i,
                    .visibility_feels_like .content > div i {font-size: 30px !important;} 

                    .sunrise_sunset .content > div .info span, 
                    .humidity_pressure .content > div .info span, 
                    .visibility_feels_like .content > div .info span {font-size: 20px !important;} 

                    > div {padding: 10px !important;}

                }
            }
            @media (max-width: 992px) {
                padding: 10px !important;
                >p {font-size: 25px;}
            }

        }

        .today_at {
            box-shadow: #5b5b5b 0px 0px 1px;
            border-radius: var(--border-radius-card);
            padding: 20px;
            .title {
                font-size: 25px;
                margin-bottom: 10px;
                font-weight: normal;
            }
            .boxes {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 10px;
                .box {
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                    .time, .degree {
                        font-size: 18px;
                    }
                    img {
                        width: 80px;
                    }
                }
                @media (max-width: 767px) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            @media (max-width: 992px) {
                padding: 10px !important;
                .title {font-size: 25px !important;}
            }
        }
    }
    @media (max-width: 992px) {
        height: 100%;
        flex-direction: column;
        aside {
            width: 100%;
        }
        .day_weather_info {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        .content {
            grid-template-columns: repeat(1, 1fr) !important;
        }
        .day_weather_info .todays {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}



// End Section