.white_color {
  color: white !important;
}

.dark_color {
  color: black !important;
}

.dark_bgColor {
  background-color: #444;
}

.white_bgColor {
  background-color: white;
}

.container {
  margin: 0 50px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 30px;
  }
}
.header_btn {
  background-color: #7575ff !important;
  transition: var(--transition);
  color: white;
  font-size: 15px;
  font-weight: normal;
}

.header_btn:hover {
  background-color: rgba(117, 117, 255, 0.7098039216) !important;
}

.image_width {
  width: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: red;
}

button, input:focus, input {
  outline: 0;
  border: none;
}

button {
  cursor: pointer;
}

:root {
  --border-radius: 5px;
  --transition: 0.3s;
  --grey-color: grey;
  --border-radius-search: 30px;
  --border-radius-card: 20px;
  --danger: #dc3545;
  --success: #54aa54;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  height: 100%;
  margin: 30px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 40px;
  margin-right: 10px;
}
header .logo span {
  font-size: 35px;
  font-weight: 700;
}
header .search_bar {
  width: 50%;
  padding: 10px 15px;
  border-radius: var(--border-radius-search);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
header .search_bar .bar_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .search_bar .bar_input input, header .search_bar .bar_input button {
  padding: 10px;
  border-radius: var(--border-radius-search);
}
header .search_bar .bar_input input {
  width: 70%;
  font-size: 16px;
}
header .search_bar .bar_input button {
  width: 25%;
}
header .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .info button.current_location_btn {
  padding: 15px;
  border-radius: var(--border-radius);
  margin-right: 10px;
}
header .info button.current_location_btn i {
  margin-right: 5px;
}
header .info button.mode_dark_light {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
header .info button.mode_dark_light i {
  font-size: 16px;
}
@media (max-width: 992px) {
  header {
    flex-direction: column;
    padding: 20px;
    height: 100%;
  }
  header .search_bar {
    margin: 30px 0;
    width: 100%;
  }
}

.cities_list {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 30px 0;
  border-radius: var(--border-radius-card);
  padding: 10px;
}
.cities_list p {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px;
  border-radius: var(--border-radius);
}
.cities_list p:not(:last-child) {
  margin-bottom: 10px;
}
.cities_list p i {
  margin-right: 10px;
}

section.weather_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
section.weather_info aside {
  width: 30%;
  height: 100%;
  padding: 0 10px;
}
section.weather_info aside .now {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: var(--border-radius-card);
  padding: 20px;
  margin-bottom: 20px;
}
section.weather_info aside .now .info div.header_info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info aside .now .info div.header_info p.title_now {
  font-size: 30px;
}
section.weather_info aside .now .info div.header_info .add_btn {
  cursor: pointer;
  background-color: #3eae3e;
  padding: 10px;
  border-radius: var(--border-radius);
  transition: var(--transition);
}
section.weather_info aside .now .info div.header_info .add_btn i {
  font-size: 20px;
  color: white;
}
section.weather_info aside .now .info div.header_info .add_btn:hover {
  background-color: green;
}
section.weather_info aside .now .info p span {
  font-size: 60px;
}
section.weather_info aside .now .date .today_value_date {
  margin-bottom: 10px;
}
section.weather_info aside .now .date i {
  margin-right: 10px;
}
section.weather_info aside .now .date span {
  color: var(--grey-color);
}
section.weather_info aside .favorites {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: var(--border-radius-card);
  padding: 20px;
}
section.weather_info aside .favorites h3 {
  margin-bottom: 20px;
}
section.weather_info aside .favorites .favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
}
section.weather_info aside .favorites .favorite > p {
  font-size: 20px;
}
section.weather_info aside .favorites .favorite p.location_value span {
  color: var(--grey-color);
  font-size: 15px;
}
section.weather_info aside .favorites .favorite:not(:last-child) {
  margin-bottom: 20px;
}
section.weather_info aside .favorites .favorite .trach {
  cursor: pointer;
  transition: var(--transition);
}
section.weather_info aside .favorites .favorite .trach:hover i {
  color: red;
}
section.weather_info aside .favorites .favorite .trach i {
  color: var(--danger);
}
section.weather_info .day_weather_info {
  width: 70%;
  border-radius: var(--border-radius-card);
}
section.weather_info .day_weather_info .todays {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: var(--border-radius-card);
  margin-bottom: 20px;
  padding: 20px;
}
section.weather_info .day_weather_info .todays > p {
  font-size: 25px;
  margin-bottom: 10px;
}
section.weather_info .day_weather_info .todays .content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 10px;
  gap: 15px;
}
section.weather_info .day_weather_info .todays .content .air_quality {
  box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
  border-radius: var(--border-radius);
  padding: 15px;
}
section.weather_info .day_weather_info .todays .content .air_quality > p {
  color: var(--grey-color);
  margin-bottom: 20px;
}
section.weather_info .day_weather_info .todays .content .air_quality .info {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
section.weather_info .day_weather_info .todays .content .air_quality .info .wind {
  font-size: 40px;
}
section.weather_info .day_weather_info .todays .content .air_quality .info > p {
  color: var(--grey-color);
  margin-bottom: 10px;
  font-size: 14px;
}
section.weather_info .day_weather_info .todays .content .air_quality .info > p > span {
  font-size: 24px;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset {
  box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
  border-radius: var(--border-radius);
  padding: 10px;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset > p {
  color: var(--grey-color);
  margin-bottom: 20px;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunrise, section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunrise i, section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunset i {
  font-size: 40px;
  margin-right: 20px;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunrise .info p, section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunset .info p {
  color: var(--grey-color);
  margin-bottom: 5px;
}
section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunrise .info span, section.weather_info .day_weather_info .todays .content .sunrise_sunset .content .sunset .info span {
  font-size: 25px;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure {
  box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
  border-radius: var(--border-radius);
  padding: 10px;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure > p {
  color: var(--grey-color);
  margin-bottom: 20px;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure .content .humidity, section.weather_info .day_weather_info .todays .content .humidity_pressure .content .pressure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure .content .humidity i, section.weather_info .day_weather_info .todays .content .humidity_pressure .content .pressure i {
  font-size: 40px;
  margin-right: 20px;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure .content .humidity .info p, section.weather_info .day_weather_info .todays .content .humidity_pressure .content .pressure .info p {
  color: var(--grey-color);
  margin-bottom: 5px;
}
section.weather_info .day_weather_info .todays .content .humidity_pressure .content .humidity .info span, section.weather_info .day_weather_info .todays .content .humidity_pressure .content .pressure .info span {
  font-size: 25px;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like {
  box-shadow: rgba(143, 133, 133, 0.44) 0px 0px 5px 0px;
  border-radius: var(--border-radius);
  padding: 10px;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like > p {
  color: var(--grey-color);
  margin-bottom: 20px;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .visibility, section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .feels_like {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .visibility i, section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .feels_like i {
  font-size: 40px;
  margin-right: 20px;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .visibility .info p, section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .feels_like .info p {
  color: var(--grey-color);
  margin-bottom: 5px;
}
section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .visibility .info span, section.weather_info .day_weather_info .todays .content .visibility_feels_like .content .feels_like .info span {
  font-size: 25px;
}
@media (max-width: 992px) {
  section.weather_info .day_weather_info .todays .content .air_quality .info > p span {
    font-size: 20px !important;
  }
  section.weather_info .day_weather_info .todays .content .sunrise_sunset .content > div i,
  section.weather_info .day_weather_info .todays .content .humidity_pressure .content > div i,
  section.weather_info .day_weather_info .todays .content .visibility_feels_like .content > div i {
    font-size: 30px !important;
  }
  section.weather_info .day_weather_info .todays .content .sunrise_sunset .content > div .info span,
  section.weather_info .day_weather_info .todays .content .humidity_pressure .content > div .info span,
  section.weather_info .day_weather_info .todays .content .visibility_feels_like .content > div .info span {
    font-size: 20px !important;
  }
  section.weather_info .day_weather_info .todays .content > div {
    padding: 10px !important;
  }
}
@media (max-width: 992px) {
  section.weather_info .day_weather_info .todays {
    padding: 10px !important;
  }
  section.weather_info .day_weather_info .todays > p {
    font-size: 25px;
  }
}
section.weather_info .day_weather_info .today_at {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: var(--border-radius-card);
  padding: 20px;
}
section.weather_info .day_weather_info .today_at .title {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: normal;
}
section.weather_info .day_weather_info .today_at .boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
section.weather_info .day_weather_info .today_at .boxes .box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}
section.weather_info .day_weather_info .today_at .boxes .box .time, section.weather_info .day_weather_info .today_at .boxes .box .degree {
  font-size: 18px;
}
section.weather_info .day_weather_info .today_at .boxes .box img {
  width: 80px;
}
@media (max-width: 767px) {
  section.weather_info .day_weather_info .today_at .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  section.weather_info .day_weather_info .today_at {
    padding: 10px !important;
  }
  section.weather_info .day_weather_info .today_at .title {
    font-size: 25px !important;
  }
}
@media (max-width: 992px) {
  section.weather_info {
    height: 100%;
    flex-direction: column;
  }
  section.weather_info aside {
    width: 100%;
  }
  section.weather_info .day_weather_info {
    width: 100%;
  }
}
@media (max-width: 767px) {
  section.weather_info .content {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  section.weather_info .day_weather_info .todays {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=main.css.map */