// Start Main Classes


.white_color {
    color: white !important;
}
.dark_color {
    color: black !important;
}

.dark_bgColor {
    background-color: #272727;
}
.white_bgColor {
    background-color: white;
}

.container {
    margin: 0 50px;
}

@media (max-width: 767px) {
    .container {
        margin: 0 30px;
    }
}

.header_btn {
    background-color: #7575ff !important;
    transition: var(--transition);
    color: white;
    font-size: 15px;
    font-weight: normal;
}
.header_btn:hover {
    background-color: #7575ffb5 !important;
}

.image_width {
    width: 40px;
}


