// Start Varaibles



:root {
    --border-radius: 5px;
    --transition: 0.3s;
    --grey-color: grey;
    --border-radius-search: 30px;
    --border-radius-card: 20px;
    --danger: #dc3545;
    --success: #54aa54;
}


